name: Build craw Compiler and CRASM Assembler

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-22.04, windows-latest]

    steps:
      # Checkout the repo
      - name: Checkout the repo
        uses: actions/checkout@v4

      # Install build tools on Linux
      - name: Install build tools on Linux
        if: runner.os != 'Windows'
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential

      # Build craw compiler on Linux
      - name: Build craw on Linux
        if: runner.os != 'Windows'
        run: make -f Makefile.mk all

      # Upload craw artifact
      - name: Upload craw artifact
        uses: actions/upload-artifact@v4
        with:
          name: craw-binary-${{ matrix.os }}
          path: |
            craw*
