name: Build craw Compiler and CRASM Assembler

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-22.04, windows-latest]

    steps:
      # 1. Checkout the repo
      - name: Checkout the repo
        uses: actions/checkout@v4

      # 2. Install build tools on Linux
      - name: Install build tools on Linux
        if: runner.os != 'Windows'
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential ghc cabal-install rustc cargo

      # 3. Install build tools on Windows
      - name: Install build tools on Windows
        if: runner.os == 'Windows'
        shell: powershell
        run: |
          choco install mingw -y
          choco install ghc cabal -y
          choco install rust -y
          refreshenv
          $env:PATH = "C:\ProgramData\mingw64\mingw64\bin;$env:PATH"

      # 4. Build craw compiler on Linux
      - name: Build craw on Linux
        if: runner.os != 'Windows'
        run: make -f Makefile.mk all

      # 5. Build craw compiler on Windows
      - name: Build craw on Windows
        if: runner.os == 'Windows'
        shell: powershell
        run: mingw32-make -f Makefile.mk all

      # 6. Build CRASM on Linux
      - name: Build CRASM on Linux
        if: runner.os != 'Windows'
        run: |
          cd src/assembler/assembler
          make all


      # 7. Build CRASM assembler on Windows
      - name: Build CRASM on Windows
        if: runner.os == 'Windows'
        shell: powershell
        run: |
          set PATH=%PATH%;C:\Users\runneradmin\AppData\Local\Programs\GHC\bin
          set PATH=%PATH%;C:\Users\runneradmin\.cargo\bin
          cd src/assembler/assembler
          mingw32-make -f Makefile all

      # 8. Upload craw artifact
      - name: Upload craw artifact
        uses: actions/upload-artifact@v4
        with:
          name: craw-binary-${{ matrix.os }}
          path: |
            craw*

      # 9. Upload CRASM artifact
      - name: Upload CRASM artifact
        uses: actions/upload-artifact@v4
        with:
          name: crasm-binary-${{ matrix.os }}
          path: |
            src/assembler/assembler/crasm


