name: Build craw Compiler

on:
  push:
  pull_request:

jobs:
  build:
    # get all of the OSes for it to test on
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-22.04, windows-latest]

    # all of the tests to run through
    # - install build tools
    # - the build the project with those tools
    # - finally upload them for further testing     
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v4

      - name: Install build tools per OS
        run: |
          if [[ "${{ runner.os }}" == "Linux" ]]; then
            sudo apt-get update
            sudo apt-get install -y build-essential
          elif [[ "${{ runner.os }}" == "Windows" ]]; then
            choco install mingw -y
            refreshenv
            setx PATH "%PATH%;C:\tools\mingw64\bin"
          fi

      - name: Build the project
        run: |
          if [[ "${{ runner.os }}" == "Windows" ]]; then
            mingw32-make -f Makefile.mk all
          else
            make -f Makefile.mk all
          fi

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: craw-binary-${{ runner.os }}
          path: |
            craw*
