name: Build craw Compiler

on:
  push:
  pull_request:

jobs:
  build:
    # Define matrix OSes
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-22.04, windows-latest]

    steps:
      # 1. Checkout the repo
      - name: Checkout the repo
        uses: actions/checkout@v4

      # 2. Install build tools on Linux
      - name: Install build tools on Linux
        if: runner.os != 'Windows'
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential

      # 3. Install build tools on Windows
      - name: Install build tools on Windows
        if: runner.os == 'Windows'
        shell: powershell
        run: |
          choco install mingw -y
          refreshenv
          # Add mingw64 to PATH for the current session
          $env:PATH = "C:\ProgramData\mingw64\mingw64\bin;$env:PATH"


      # 4. Build project on Linux
      - name: Build project on Linux
        if: runner.os != 'Windows'
        run: make -f Makefile.mk all

      # 5. Build project on Windows
      - name: Build project on Windows
        if: runner.os == 'Windows'
        shell: powershell
        run: mingw32-make -f Makefile.mk all


      # 6. Upload artifacts with unique names
      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: craw-binary-${{ matrix.os }}
          path: |
            craw*

