name: build craw Compiler

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-22.04, archlinux, windows-latest]

    steps:
      - name: ckeckout the repo
        uses: actions/checkout@v4

      # Install build tools per OS
      - name: install the build tools per OS
        run: |
          if [[ "${{ runner.os }}" == "Linux" ]]; then
            if [ "$(uname -s)" = "Linux" ]; then
              if grep -q "Arch" /etc/os-release; then
                sudo pacman -Sy --noconfirm base-devel
              else
                sudo apt-get update
                sudo apt-get install -y build-essential
              fi
            fi
          elif [[ "${{ runner.os }}" == "Windows" ]]; then
            choco install mingw -y
            refreshenv
          fi

      - name: build the project on all of the OSes
        run: |
          if [[ "${{ runner.os }}" == "Windows" ]]; then
            mingw32-make -f Makefile.mk all
          else
            make -f Makefile.mk all
          fi

      - name: upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: craw-binary-${{ runner.os }}
          path: |
            craw
            craw.exe
